<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/geo/addLocation" method="post">
          Name:<br>
          <input type="text" name="name"><br>
          Category:<br>
          
          <input type="text" name="category"><br>
          Longitude: 
          <input type="text" name="longitude">
          Latitude:
          <input type="text" name="latitude"><br>
          <input type="submit" value="Submit"><br>
    </form> 
  </body>
</html>
