<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     <ul> 
        <% for(var i=0;i<locations.length;i++) {%>
              <li><%= 'Name: ' + locations[i].name + ' ==> ' + 'Longitude: ' + locations[i].coords[0] + ' | ' + ' Latitude: ' + locations[i].coords[1]%> </li>
        <% } %>     
    </ul>    
  </body>
</html>
